*
{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}
:root
{
--sage-green: #9DA58F;
--main-font: 'Julius Sans One', sans-serif;
--dark-gray: rgb(32, 32, 32);
--image-size: 100vw;
}
body
{
    background-color: #f2f2f2;
}
body::-webkit-scrollbar
{
    display: none;
}
.wrapper
{
height: 100vh;
}
header
{
width: 100%;
height: 6rem;
background-color: var(--sage-green);
position: fixed;
z-index: 50;
}
header h2
{
position: relative;
font-family: p22-zaner-pro-three, sans-serif;
font-weight: 1000;
font-style: normal;
font-size: 3.8rem;
color: white;
display: flex;
justify-content: center;
align-items: center;
height: 6rem;
}
/**Starts the Slide Show**/
.slideshow {
    list-style-type: none;
  }
  .wrapper p 
  {
    font-family: 'Euphoria Script', cursive;
      font-weight: 1000;
      font-size: 8em;
      color: white;
      position: absolute;
      top: 10rem;
  }
  /*Countdown styling*/
#countdown
{
background-image: white;
-webkit-background-clip: text;
-webkit-text-fill-color: white;
position:relative;
font-size: 1em;
font-family: var(--main-font);
font-weight:900;
text-align: center;
top: 30em;
z-index: 10;
}
  /** SLIDESHOW **/
  .slideshow
  { 
    position: relative;
      width: 100vw;
      height: 100%;
      left: 0px;
      z-index: 0;
  }
  .slideshow li span { 
        position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      color: transparent;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 0;
      animation-name: imageAnimation;
      animation-duration: 60s; 
     animation-iteration-count: infinite;
     animation-timing-function: linear;
     animation-delay: 0; 
  }
  .slideshow li:nth-child(1) span { 
      background-image: url("../images/1.JPG"); 
  }
  .slideshow li:nth-child(2) span { 
      background-image: url("../images/2.JPG");
      animation-delay: 6s; 
  }
  .slideshow li:nth-child(3) span { 
      background-image: url("../images/3.JPG");
      animation-delay: 12s; 
  }
  .slideshow li:nth-child(4) span { 
      background-image: url("../images/4.JPG");   
      animation-delay: 18s; 
  }
  .slideshow li:nth-child(5) span { 
      background-image: url("../images/5.JPG");
      animation-delay: 24s; 
  }
      .slideshow li:nth-child(6) span { 
        background-image: url("../images/6.JPG"); 
    }
    .slideshow li:nth-child(7) span { 
        background-image: url("../images/7.JPG");
        animation-delay: 30s; 
    }
    .slideshow li:nth-child(8) span { 
        background-image: url("../images/8.JPG");
        animation-delay: 36s; 
    }
    .slideshow li:nth-child(9) span { 
        background-image: url("../images/9.JPG");   
        animation-delay: 42s; 
    }
    .slideshow li:nth-child(10) span { 
        background-image: url("../images/10.JPG");
        animation-delay: 48s; 
  }
  .slideshow li:nth-child(10) span { 
    background-image: url("../images/11.JPG");
    animation-delay: 54s; 
}
  @keyframes imageAnimation { 
      0% { opacity: 0; animation-timing-function: ease-in;}
      8% { opacity: 1; animation-timing-function: ease-out;}
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
h1
{
color: var(--sage-green);
font-family: 'Palanquin', sans-serif;
width: 80%;
margin: auto;
text-align: center;
margin-top: calc(var(--image-size) * .08);
font-size: calc(var(--image-size) * .08);
}
hr 
{
border-bottom: .8px solid var(--sage-green);
width: 64%;
position: relative;
left: 18%;
top: calc(var(--image-size) * -0.02);
}
/*side sitcky with dark mode and spanish 
didnt really like it
#settings
{
width: 3em;
height: 6em;
background-color: rgba(163, 163, 163, 0.1);
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1.5fr 2fr;
position: sticky;
z-index: 20;
top: 50%;
left: 100%;
border-top-left-radius: 1rem;
border-bottom-left-radius: 1rem;
row-gap: 1px;
}
#settings >div:nth-child(1)
{
border-bottom: 1px solid black;
}*/
.menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}
.menu li
{
    display: inline-block;
    padding: 2% 5%;
}
.menu a
{
    font-family: tekton-pro, sans-serif;
    font-weight: 300;
    font-style: normal;  
    color: var(--dark-gray);  
    font-size: 1em;
}

.ceremony-wrapper img, .reception-wrapper img
{
width: calc(var(--image-size) * .5);
height: calc(var(--image-size) * .5);
border-radius: 50%;
margin: auto;
display: block;
object-fit: cover;
}
.ceremony-wrapper, .reception-wrapper
{
    margin-top: calc(var(--image-size) * .10);
    padding-top: calc(var(--image-size) * .07);
}
.reception-wrapper
{
    background-color: #fcedf6;
}
.ceremony-wrapper div, .reception-wrapper div
{
    width: calc(var(--image-size) * .5);
    margin: auto;
    text-align: center;
    padding-bottom: calc(var(--image-size) * .10);
    padding-top:calc(var(--image-size) * .035);
}
.reception-wrapper div
{
    padding-bottom: calc(var(--image-size) * .25);  
}
.ceremony-wrapper hr, .reception-wrapper hr
{
    border-bottom: .8px solid var(--dark-gray);
    width: calc(var(--image-size) * .75);
    position: relative;
    left: calc(var(--image-size) * -.125);
    top: calc(var(--image-size) * .006);
}
.ceremony-wrapper span, .reception-wrapper span
{
    font-weight: 800;
    font-size: calc(var(--image-size) * .048);
}
.ceremony-wrapper h2, .reception-wrapper h2
{
color: var(--dark-gray);
font-family: 'Palanquin', sans-serif;
font-size: calc(var(--image-size) * .073);
}
.ceremony-wrapper p, a, .reception-wrapper p, a
{
    position: relative;
    font-family: tekton-pro, sans-serif;
    font-size: calc(var(--image-size) * .045);
}
.get-directions
{
    margin: auto;
    width: 50%;
    top: calc(var(--image-size) * .0355);
    position: relative;
    border: .8px solid var(--dark-gray);
    border-radius: calc(var(--image-size) * .04);
    font-size: calc(var(--image-size) * .04);
    padding: .3em;
    background-color: #f2f2f2;
    z-index: 2;
}
.reception-wrapper .get-directions
{
    background-color: #fcedf6;
    
}
.get-directions:visited
{
    color: var(--dark-gray);
}
.get-directions:hover
{
background-color: var(--dark-gray);
color: #f2f2f2;
cursor: pointer;
transition-duration: 500ms;
transition-timing-function: ease-in-out;
}
.about
{
    position: relative;
    font-family: tekton-pro, sans-serif;
    font-size: calc(var(--image-size) * .04);
    color: var(--dark-gray);
    line-height: 150%;
    width: 80%;
    margin: auto;
    text-align: justify;
}
#flowers
{
    width: calc(var(--image-size) * .6);
    height: calc(var(--image-size) * .35);
    margin: auto;
    display: block;
    object-fit: cover;
    position: relative;
    top: calc(var(--image-size) * -.12);
}
.additional-details h2
{
color: var(--dark-gray);
font-family: 'Palanquin', sans-serif;
font-size: calc(var(--image-size) * .073);
margin: auto;
width: 100%;
text-align: center;
position: relative;
top: -3.5rem;
}
.links-table
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    overflow: hidden;
    grid-gap: 6%;
    width: 75%;
    height: calc(var(--image-size) * .75);
    margin: auto;
    padding-bottom: calc(var(--image-size) * .2);
    position: relative;
    top: -2rem;
}
.links-table > div
{
    background: white;
    box-shadow: 2px 2px 6px 3px rgba(0, 0, 0, .2);
    position: relative;
    border-bottom-left-radius: 27% 28%;
    overflow: hidden;
}
.links-table > div:after
{
content: "";
background: linear-gradient(45deg, rgb(187, 187, 187), rgb(239, 239, 240));
width: 20%;
height: 15%;
margin: 0;
padding: 0;
display: block;
z-index: 15;
position: absolute;
bottom: 3%;
left: 1.2%;
box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
transform: skewY(15deg);
border-bottom-left-radius: 80% 81%;
}
.links-table > div:hover:after
{
    transform:  scale(0.2) translate( -340%, 330%);
    transition-timing-function: ease-out;
    transition-duration: 500ms;
}
.links-table > div:hover
{
    border-bottom-left-radius: 0;
    background-color: rgb(255, 255, 199);
    transition-timing-function: ease-out;
    transition-duration: 500ms;
    
}
.last-child a 
{
    position: absolute;
    z-index: 20;
    color: var(--dark-gray);
    font-family: var(--main-font);
    font-size: calc(var(--image-size) * .03);
    width: 100%;
    display: block;
    text-align: center;
    top: calc(var(--image-size) * -.2);
    line-height: calc(var(--image-size) * .08);
}
.last-child a:hover
{
text-decoration: underline;
}
.sticky div:nth-child(1)
{
    border-bottom: 1px solid rgb(152, 215, 245);
    overflow: hidden;
    position: relative;
    top: 20%;
}
.sticky div:nth-child(2)
{
    border-bottom: 1px solid rgb(152, 215, 245);
    overflow: hidden;
    position: relative;
    top: 40%;
}
.sticky div:nth-child(3)
{
    border-bottom: 1px solid rgb(152, 215, 245);
    overflow: hidden;
    position: relative;
    top: 60%;
}
.sticky div:nth-child(4)
{
    border-bottom: 1px solid rgb(152, 215, 245);
    position: relative;
    top: 80%;
}
#rsvp
{
display: block;
width: 20%;
height: 1em;
margin: auto;
text-align: center;
position: relative;
bottom: calc(var(--image-size) * .15);
font-family: var(--main-font);
border: 1px solid pink;
padding: .8em 1em;
border-radius: 2em;
}
#rsvp:hover
{
    background-color: pink;
    color: white;
    transform: scale(.9);
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
}
  footer
{
height: 6em;
background: var(--sage-green);
color: white;
font-family: var(--main-font);
font-size: .8em;
width: 100%;
position: relative;
top: 1em;
display: flex;
align-items: center;
justify-content: center;
}
@media only screen and (min-width: 750px)
{
   .menu a 
   {
     
        font-size: 1.8em;
    }
    .ceremony-wrapper a, .reception-wrapper a
    {
        font-size: 30px;
    }
    footer
    {
    height: 120px;
    font-size: 1.2em;
    }
    header
{

height: 120px;
}
header h2
{
font-size: 4.8rem;
height: 7.2rem;
}
}
@media only screen and (min-width: 999px)
{

.menu a {
     
    font-size: 30px;
}
h1
{
width: 700px;
font-size: 70px;
}
hr 
{
border-bottom: 1px solid var(--sage-green);
width: 520px;
left: 27.4%;

}
.menu
{
width: 850px;
}
.ceremony-wrapper img, .reception-wrapper img
{
width: 700px;
height: 700px;
}
.ceremony-wrapper div, .reception-wrapper div
{
    width: 700px;
}
.ceremony-wrapper hr, .reception-wrapper hr
{
    border-bottom: 1px solid var(--dark-gray);
    width: calc(var(--image-size) * .7);
    left: calc(var(--image-size) * -0.05);
    top: calc(var(--image-size) * 0.018);
}

.ceremony-wrapper span, .reception-wrapper span
{
    font-size: 50px;
}
.ceremony-wrapper h2, .reception-wrapper h2
{


font-size: 80px
}
.ceremony-wrapper p, .reception-wrapper p
{
    font-size: 40px;
}
#flowers
{
    width: 700px;
    height: 400px;
    margin: auto;
    display: block;
    object-fit: cover;
    position: relative;
    top: calc(var(--image-size) * -.12);
}
.additional-details h2
{
font-size: 70px;
}
.links-table
{
    width: 700px;
    height: 700px;
}
.last-child a 
{
    font-size: 30px;
    top: -198px;
}
.last-child a:hover
{
text-decoration: underline;
}
#rsvp
{
font-size: 45px;
width: 200px;
height: 50px;
border: 1px solid pink;
padding: 25px 40px;
}
  footer
{
height: 150px;
font-size: 1.5em;
}
}